node_modules/
scripts/rename-services.ps1

# Local .terraform directories and caches
**/.terraform/*

# Terraform State files
*.tfstate
*.tfstate.*

# Private SSH Keys
*.pem
*.rsa
*.key

# Variables files 
*.tfvars
*.tfvars.json

# Terraform plan output files
*.tfplan

# Crash logs
crash.log
crash.*.log

# config files
.env

